.content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.column-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  border: 1px solid var(--links);
  border-radius: 5px;
  padding: 0px 15px;
}

.lesson {
  width: 100%;
}
